# Laravel
/vendor
/node_modules
/public/storage
/storage/*
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views
!/storage/logs

# Environment files
.env
.env.*
.phpunit.result.cache
/.phpunit.cache

# IDE/Editor
/.vscode
/.idea
.DS_Store
Thumbs.db

# OS/Editor/Tooling
*.log
Homestead.json
Homestead.yaml

# Misc
/public/build
/public/hot
*.sqlite
